* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0px;
}

#sidebar {
    background-color: whitesmoke;
    background-position: left absolute;
    background-origin: border-box;
    border-width: 20%;
    border-right: 1px lightskyblue solid;
    box-sizing: border-box;
    display: block;
    font-family: sans-serif;
    font-size: small;
    height: 100%;
    position: absolute;
    width: 13em;

}

ul.no-bullets {
    font-size: small;
    list-style-type: none;
    padding: 12px;
    margin: 3px;
}

a.no-lines {
    color: #1d65cb;
    font-size: small;
}

#navbar {
    background-color: whitesmoke;
    background-position: top;
    background-origin: border-box;
    border-width: 100%;
    border-bottom: 1px lightskyblue solid;
    box-sizing: content-box;
    display: block;
    color: #1d65cb;
    float: right;
    height: max-content;
    width: 90%;
    margin-top: 0px;
    padding-top: 20px;
    overflow: hidden;
    text-align: center;
}

#login {
    font-size: x-small;
    text-align: right;
    padding-bottom: 20px;
}

#searchbar {
    font-size: smaller;
    padding-bottom: 3px;
    margin-left: 169px;
    text-align: right;
}

#mainbody {
    box-sizing: content-box;
    display: block;
    float: none;
    position: static;
    text-align: left;
    font-size: medium;
    margin-left: 189px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;

}

#h2 {
    box-sizing: content-box;
    display: block;
    position: static;
    padding-top: 15px;
    font-family: 'Times New Roman';
    font: weight 2px;

}

#author {
    font-size: smaller;

}

#sumContent {
    font-weight: lighter;
    color: rgb(34, 31, 31)
}

#h5 {
    background-color: rgb(186, 213, 144);
}

#context {
    box-sizing: content-box;
    display: table;
    position: static;
    background-color: whitesmoke;
    border: 1px gray solid;
    padding: 7px;

}

#keynotes {
    box-sizing: content-box;
    display: table;
    float: right;
    background-color: whitesmoke;
    border: 1px gray solid;
    padding: 5px;
    margin: 7px 10px 7px 10px;
    clear: right;
}

#footer {
    box-sizing: content-box;
    display: block;
    position: static;
    background-color: whitesmoke;
    padding: 15px;
    text-align: center;
    padding-left: 13em;
    padding-right: 13em;
}
